:root {
  --primary: #80A1C1;
  --primary-shadow: #111;
  --secondary: #A77E58;
  --third: #D9CFC1;

}

body {
  font-family: 'Mukta', sans-serif;
  background: var(--primary);
}

.header {
  width: 60%;
  margin: auto 20%;
  padding: 2% 0%;
  background-color: var(--secondary);
  text-align: center;
  color: var(--third);
  font-size: 28px;
  line-height: 30px;
  text-shadow: 1px 1px var(--primary-shadow);
}

.sub-header {
  width: 50%;
  margin: auto 25%;
  padding: 1% 0%;
  background-color: var(--secondary);
  text-align: center;
  color: var(--third);
  font-size: 22px;
  line-height: 25px;
  text-shadow: 1px 1px var(--primary-shadow);
}

