:root {
  --primary: #00157f;
  --primary-variant: #00072b;
  --primary-shadow: #111;
  --secondary: #283333;
  --secondary-variant: #566666;
  --secondary-shadow: #fff;
  --background: #7c9eb2;
  --error: #b00020;
  --primary-text: #fff;
  --secondary-text: #111;
  --base-spacing: 8px;
}

/* Body and general selectors */

html,body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: "Mukta", sans-serif;
  background: var(--background);
}

a {
  color: var(--primary-text);
  text-decoration: none;
  text-shadow: 2px 1px var(--primary-shadow);
  font-weight: 600;
}


ul{
  padding: 0;
  list-style-type: none;
}


/* Header and logo style */

header {
  width: 100%;
  margin: 0%;
  background: var(--secondary-variant);
  display: flex;
  flex-direction: column;
  align-items: center;
}

header > figure > img {
  margin: 0;
  border-radius: 50%;
  width: 125px;
  height: 125px;
  box-shadow: 6px 6px 3px var(--primary-shadow);
}

header > h1 {
  color: var(--primary-text);
  font-size: 28px;
  line-height: 50px;
  text-shadow: 2px 1.5px var(--primary-shadow);
  text-align: center;
}

/* Navigation style  */

nav {
  border: 3px solid var(--secondary-variant);
  border-top: none;
  min-height: 72px;
  position: relative;
}

nav ul {
  list-style-type: none;

}

nav li {
  padding: var(--base-spacing);
  text-align: center;
}

nav .is-hidden {
  margin: 0;
  height: 0px;
  opacity: 0;
}

nav .fas {
  font-size: 48px;
  position: absolute;
  margin: var(--base-spacing);
  transform: translateX(calc(100vw - (var(--base-spacing) * 10)));
}

/* Hero image style */

.hero-image {
  background: url(https://picsum.photos/680/420) center center no-repeat;
  background-size: cover;
  height: 20vh;
  max-height: 420px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image a{
  background-color: var(--secondary);
  font-size: 24px;
  padding: var(--base-spacing);
  border-radius: var(--base-spacing);
}

/* .hero-image a:hover {
  background-color: var(--secondary-variant);
} */


/* Main Section style */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sub-header {
  width: 80%;
  padding: var(--base-spacing);
  margin: var(--base-spacing);
  background-color: var(--secondary);
  text-align: center;
  color: var(--primary-text);
  font-size: calc(var(--base-spacing) * 3);
  line-height: calc(var(--base-spacing) * 4);
  text-shadow: 1px 1px var(--primary-shadow);
  box-shadow: 1px 1px var(--secondary-shadow);
}

section {
  margin: var(--base-spacing);
  display: flex;
  flex-direction: column;
  width: 80%;
  background: var(--primary);
  color: var(--primary-text);
  text-shadow: 1px 1px var(--primary-shadow);
  align-items: center;
  border: calc(var(--base-spacing) / 2) solid var(--primary-shadow);
}

section a {
  margin: var(--base-spacing);
  padding: var(--base-spacing);
  color: var(--primary-text);
  text-shadow: 1px 1px var(--primary-shadow);
  background-color: var(--secondary);
  font-size: 16px;
  border-radius: var(--base-spacing);
  box-shadow: 1px 1px var(--secondary-shadow);
}

section a:hover {
  cursor: pointer;
  color: var(--primary-text);
  text-shadow: 1px 1px var(--primary-shadow);
  background-color: var(--secondary-variant);
}

section p {
  text-align: center;
  width: 80%;
  padding: (var(--base-spacing) * 1.75);
}

/* Footer style */

footer {
  border-top: 3px solid var(--secondary-variant);
  padding: (var(--base-spacing) * 4);
}

footer ul {
  display: flex;
  justify-content: space-around;
  padding: var(--base-spacing);
}


/* Media queries */

@media screen and ( min-width: 768px ) {
  section {
    margin: 0;
    width: 100%;
    border-top: none;
  }
}