:root {
  --primary: #00157f;
  --primary-variant: #00072b;
  --primary-shadow: #111;
  --secondary: #283333;
  --secondary-variant: #566666;
  --secondary-shadow: #fff;
  --background: #7c9eb2;
  --error: #b00020;
  --primary-text: #fff;
  --secondary-text: #111;
  --base-spacing: 8px;
}

/* Body and general selectors */

body {
  font-family: "Mukta", sans-serif;
  background: var(--background);
}

a:link {
  color: var(--secondary-text);
  text-decoration: none;
  text-shadow: 1px 1px var(--secondary-shadow);
  font-weight: 600;
}

a:visited {
  color: var(--secondary-text);
  text-decoration: none;
  text-shadow: 1px 1px var(--secondary-shadow);
  font-weight: 600;
}

ul{
  padding: 0;
}

/* Header and logo style */

header {
  width: 100%;
  margin: 0%;
  background: var(--secondary-variant);
  display: flex;
  flex-direction: column;
  align-items: center;
}

header > figure > img {
  margin: 0;
  border-radius: 50%;
  width: 125px;
  height: 125px;
  box-shadow: 6px 6px 3px var(--primary-shadow);
}

header > h1 {
  color: var(--primary-text);
  font-size: 28px;
  line-height: 50px;
  text-shadow: 2px 1.5px var(--primary-shadow);
  text-align: center;
}

/* Navigation style  */

nav {
  display: flex;
  flex-direction: column;
  border: 3px solid var(--secondary-variant);
  border-top: none;
  align-items: flex-end;
  align-content: flex-end;
}

nav ul {
  list-style-type: none;

}

nav li {
  display: inline-block;
  padding: 0 calc(var(--base-spacing));
}

/* Main Section style */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub-header {
  width: 50%;
  margin: 2.5% 25%;
  padding: 1% 0%;
  background-color: var(--secondary);
  text-align: center;
  color: var(--primary-text);
  font-size: calc(var(--base-spacing) * 3);
  line-height: calc(var(--base-spacing) * 4);
  text-shadow: 1px 1px var(--primary-shadow);
}

section {
  display: flex;
  flex-direction: column;
  width: 80%;
  background: var(--primary);
  color: var(--primary-text);
  text-shadow: 1px 1px var(--primary-shadow);
  margin: 2.5% 0%;
  align-items: center;
}

section p {
  text-align: center;
  width: 80%;
}

/* Footer style */

footer {
  border-top: 5px solid var(--secondary-variant);
}
